* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(
        109.6deg,
        rgb(27, 34, 43) 11.2%,
        rgb(16, 37, 60) 51.2%,
        rgb(0, 0, 0) 98.6%
    );
    user-select: none;
    font-family: "Old London", serif;
    gap: 4rem;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: rgb(205, 205, 236);
    font-size: 40vh;
    font-weight: 400;
    letter-spacing: 0;
    filter: drop-shadow(0 0 0.8rem rgb(0, 0, 0));
}

@font-face {
    font-family: "Old London";
    src: url("./OldLondon.ttf");
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 20vh;
    }
}
