* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(3, 3, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

h1 {
    color: rgb(204, 204, 253);
    font-size: 20vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
